<?xml  version="1.0" encoding="UTF-8"?>
<c3p0-config>
    <default-config>

        <property name="initialPoolSize">3</property>
        <property name="numHelperThreads">3</property>

        <property name="maxStatements">0</property>
        <property name="testConnectionOnCheckin">false</property>
        <property name="testConnectionOnCheckout">false</property>
        <property name="maxIdleTime">90</property>
        <property name="maxIdleTimeExcessConnections">0</property>
        <property name="idleConnectionTestPeriod">30</property>

        <property name="debugUnreturnedConnectionStackTraces">true</property>
        <property name="unreturnedConnectionTimeout">900</property>

        <property name="autoCommitOnClose">false</property>
        <property name="preferredTestQuery">select 1</property>

        <property name="acquireIncrement">1</property>
        <property name="acquireRetryAttempts">30</property>
        <property name="acquireRetryDelay">1000</property>

        <property name="driverClass">org.postgresql.Driver</property>
        <property name="jdbcUrl">postgres://gjbzwcnozxlaga:be33f560bb425c1ece32aef046475e91027dc66946492c26b073b362c33fb0af@ec2-54-170-163-224.eu-west-1.compute.amazonaws.com:5432/d3kt6et5ml8g8m
        </property>
        <property name="user">gjbzwcnozxlaga</property>
        <property name="password">be33f560bb425c1ece32aef046475e91027dc66946492c26b073b362c33fb0af</property>
        <property name="minPoolSize">1</property>
        <property name="maxPoolSize">100</property>

        <property name="maxStatements">50</property>
        <property name="connectionCustomizerClassName">ru.petshop.crm.util.TimeTraceConnectionCustomizer</property>
    </default-config>

</c3p0-config>